* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {

}

body {
    background: #ECEFF4;
}

header,
main {
    background: #2E3440;
    color: #D8DEE9;
}

h1,
h4 {
    color: #ECEFF4;
}